# Output dosyaları
output/

# Hassas dosyalar
token.json
client_secret.json
.env
yt_cookies.txt
*cookies*.txt

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Geçici
*.tmp
*.temp
assets/backgrounds/
.pytubefix_oauth.json
